## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key


#Configure gmaps API key

gmaps.configure(api_key=g_key)

In [2]:
g_key

'AIzaSyAfkA_ElPgzBs5aBWbrfhr5o2z0VH_YKh0'

In [3]:

# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Flin Flon,CA,54.7682,-101.8650,51.84,64,88,9.42,overcast clouds
1,1,Tiksi,RU,71.6872,128.8694,32.34,87,100,17.58,light snow
2,2,Busselton,AU,-33.6500,115.3333,70.00,54,97,2.35,overcast clouds
3,3,Marawi,PH,7.9986,124.2928,75.00,88,98,1.25,overcast clouds
4,4,Waipawa,NZ,-41.4122,175.5153,56.34,66,98,6.02,light rain

In [4]:

# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 50
What is your desired maximum temperature for your trip? 90

In [5]:

# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Flin Flon,CA,54.7682,-101.8650,51.84,64,88,9.42,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,70.00,54,97,2.35,overcast clouds
3,3,Marawi,PH,7.9986,124.2928,75.00,88,98,1.25,overcast clouds
4,4,Waipawa,NZ,-41.4122,175.5153,56.34,66,98,6.02,light rain
5,5,Lazaro Cardenas,MX,17.9583,-102.2000,79.29,85,100,2.19,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
691,691,Carutapera,BR,-1.1950,-46.0200,77.88,83,79,8.21,broken clouds
692,692,Zirandaro,MX,18.4500,-100.9833,75.45,86,99,2.08,overcast clouds
693,693,Sakaiminato,JP,35.5500,133.2333,72.00,67,82,14.67,broken clouds
694,694,Sol-Iletsk,RU,51.1631,54.9918,51.73,67,100,8.25,overcast clouds
695,695,Sao Paulo De Olivenca,BR,-3.3783,-68.8725,75.60,83,81,1.90,broken clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:

# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Flin Flon,CA,54.7682,-101.8650,51.84,64,88,9.42,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,70.00,54,97,2.35,overcast clouds
3,3,Marawi,PH,7.9986,124.2928,75.00,88,98,1.25,overcast clouds
4,4,Waipawa,NZ,-41.4122,175.5153,56.34,66,98,6.02,light rain
5,5,Lazaro Cardenas,MX,17.9583,-102.2000,79.29,85,100,2.19,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
691,691,Carutapera,BR,-1.1950,-46.0200,77.88,83,79,8.21,broken clouds
692,692,Zirandaro,MX,18.4500,-100.9833,75.45,86,99,2.08,overcast clouds
693,693,Sakaiminato,JP,35.5500,133.2333,72.00,67,82,14.67,broken clouds
694,694,Sol-Iletsk,RU,51.1631,54.9918,51.73,67,100,8.25,overcast clouds
695,695,Sao Paulo De Olivenca,BR,-3.3783,-68.8725,75.60,83,81,1.90,broken clouds

In [8]:

# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Flin Flon,CA,51.84,overcast clouds,54.7682,-101.8650,
2,Busselton,AU,70.00,overcast clouds,-33.6500,115.3333,
3,Marawi,PH,75.00,overcast clouds,7.9986,124.2928,
4,Waipawa,NZ,56.34,light rain,-41.4122,175.5153,
5,Lazaro Cardenas,MX,79.29,overcast clouds,17.9583,-102.2000,
6,Pisco,PE,57.25,scattered clouds,-13.7000,-76.2167,
7,Isla Mujeres,MX,77.16,broken clouds,21.2311,-86.7310,
8,Makakilo City,US,80.56,few clouds,21.3469,-158.0858,
9,Kruisfontein,ZA,60.89,overcast clouds,-34.0033,24.7314,
10,Mount Gambier,AU,54.75,overcast clouds,-37.8333,140.7667,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
 
        
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Flin Flon,CA,51.84,overcast clouds,54.7682,-101.8650,Victoria Inn Flin Flon
2,Busselton,AU,70.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
3,Marawi,PH,75.00,overcast clouds,7.9986,124.2928,Derogongan Residence
4,Waipawa,NZ,56.34,light rain,-41.4122,175.5153,Tora Coastal Walk
5,Lazaro Cardenas,MX,79.29,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
6,Pisco,PE,57.25,scattered clouds,-13.7000,-76.2167,Hotel San Isidro Oficial
7,Isla Mujeres,MX,77.16,broken clouds,21.2311,-86.7310,Hotel La Joya Isla Mujeres
8,Makakilo City,US,80.56,few clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
9,Kruisfontein,ZA,60.89,overcast clouds,-34.0033,24.7314,Oyster Bay House Rental
10,Mount Gambier,AU,54.75,overcast clouds,-37.8333,140.7667,The Commodore

In [11]:

# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))